html, body {
    font-weight: 300;
}

.opacity-enter-active,
.opacity-leave-active {
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.opacity-enter-from,
.opacity-leave-to {
    opacity: 0;
    transform: scale(1.05, 1.05);
}

.opacity-enter-to,
.opacity-leave-from {
    opacity: 1;
    transform: scale(1, 1);
}

section.ecommerce-section {
    margin-top: 8rem;
    margin-bottom: 2rem;
    min-height: 50vh;
}

.p-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.md-chip {
    display: inline-block;
    padding: 0;
    border-radius: 42px;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 2.6;
    border: 1px solid black;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
    transition: .2s ease-out;
}
.md-chip:hover {
    /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); */
    cursor: pointer;
}

.hero .lead {
    font-size: 52px;
    font-weight: 600;
}

.hero .lead-smaller {
    font-size: 20px;
}
