[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
djangorestframework = "*"
django-extensions = "*"
django-cors-headers = "*"
django = "*"
gunicorn = "*"
stripe = "*"
django-imagekit = "*"
pillow = "*"
django-axes = "*"
boto3 = "*"
django-storages = "*"
django-debug-toolbar = "*"
django-redis = "*"
python-dotenv = "*"
tablib = "*"
django-import-export = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
unidecode = "*"
spacy = "*"
numpy = "==2.0.2"
jwt = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
django-ckeditor-5 = "*"
drf-spectacular = "*"
markdown = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.12"
