[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
djangorestframework = "*"
django-extensions = "*"
django-cors-headers = "*"
django = "*"
stripe = "*"
django-imagekit = "*"
pillow = "*"
psycopg2 = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
