{% extends "base_site.html" %}

{% block main_content %}
    <section id="shop" style="margin-top:190px; margin-bottom: 2rem;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center w-100 mb-3 h2">{{ collection.name }}</h1>
                </div>
    
                <div class="col-12">
                    Filters
                </div>
            </div>
    
            <div class="row">
                
                <div class="col-12">
                    <!-- Statistics -->
                    <p class="text-center text-muted m-0 mt-3 mb-3">{{ products.count }} products</p>
                </div>
                
                {% block products %}
                    <!-- <products-component /> -->

                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-3">
                                <article id="link-product-card" class="product my-1" @click="$emit('product-card-click', product)" @mouseenter="isHovered = true" @mouseleave="isHovered = false">
                                    <div id="product-image">
                                        <!-- Image -->
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{{ product.get_main_image.mid_size.url }}" alt="{{ product.name }}" class="img-fluid" />
                                        </a>
        
                                        <!-- Mini-Cart -->
                                        <transition name="mini-cart-transition">
                                            <div v-if="isHovered" class="mini-cart p-3 d-none">
                                                <div class="fw-bold mb-3 text-uppercase">
                                                    Add to cart
                                                </div>
                                
                                                <div id="sizes">
                                                    <div v-if="hasSizes">
                                                        <button v-for="size in product.sizes" :key="size.name" type="button" :class="{ disabled: !size.availability }" class="btn btn-outline-dark me-2" @click="quickAddToCart(product, size)">
                                                            {{ size.name }}
                                                        </button>
                                                    </div>
                                
                                                    <button v-else class="btn btn-outline-dark" type="button" @click="quickAddToCart(product, { name: 'Unique' }, true)">
                                                        Unique
                                                    </button>
                                                </div>
                                            </div>
                                        </transition>
                                    </div>
                                
                                    <!-- Information -->
                                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none">
                                        <div id="product-details" class="mt-2">
                                            <p class="fw-normal dark-text mb-0">
                                                {{ product.name }}
                                            </p>
                                
                                            <!-- Prices -->
                                            <!-- <base-price-display :product="product" /> -->
                                        </div>
                                    </a>
                                
                                    <!-- Other -->
                                    <div class="d-flex justify-content-left p-absolute m-2">
                                        <!-- <base-tag v-if="product.on_sale" :padding="1" :width="30" background-color="bg-primary">
                                            Sale
                                        </base-tag>
                                
                                        <base-tag v-if="product.display_new" :padding="1" :width="30" background-color="bg-danger" class="mx-2">
                                            New
                                        </base-tag> -->
                                    </div>
                                </article>
                            </div>
                        {% empty %}
                            <h4>No products to show</h4>
                        {% endfor %}
                    </div>
                    {% comment %}
                    {% endcomment %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}

{% block vuejs_components %}
<script id="product-card" type="text/x-template">
    <article @click="$emit('product-card-click', product)" @mouseenter="isHovered = true" @mouseleave="isHovered = false">
        [[ product.name ]]

        <div id="product-image">
            <!-- Mini-Cart -->
            <transition name="mini-cart-transition">
                <div v-if="isHovered" class="mini-cart p-3">
                    <div class="fw-bold mb-3 text-uppercase">
                        Add to cart
                    </div>
    
                    <div id="sizes">
                        <div v-if="hasSizes">
                            <button v-for="size in product.sizes" :key="size.name" type="button" :class="{ disabled: !size.availability }" class="btn btn-outline-dark me-2" @click="handleQuickAddToCart(product, size)">
                                {{ size.name }}
                            </button>
                        </div>
    
                        <button v-else class="btn btn-outline-dark" type="button" @click="handleQuickAddToCart(product, { name: 'Unique' }, true)">
                            Unique
                        </button>
                    </div>
                </div>
            </transition>
        </div>
    </article>
</script>

<script id="products" type="text/x-template">
    <div class="row">
        <div class="col-12">
            <product-card v-for="product in products" :key="product.id" :product="product" />                
        </div>
    </div>
</script>

<script>
    const ProductCard = {
        name: 'ProductCard',
        template: '#product-card',
        props: {
            product: {
                type: Object,
                required: true
            }
        },
        data () {
            return {
                isHovered: false
            }
        },
        computed: {
            hasSizes () {
                return true
            }
        },
        methods: {
            async handleQuickAddToCart (product, size) {

            }
        }
    }

    const ProductsComponent = {
        name: 'ProductsComponent',
        template: '#products',
        components: {
            ProductCard
        },
        data () {
            return {
                products: JSON.parse('{{ serialized_products|safe }}')
            }
        }
    }

    app.component('ProductsComponent', ProductsComponent)
</script>
{% endblock %}
