* {
    font-family: "Montserrat", "Roboto", sans-serif;
    /* font-weight: 300; */
    /* font-size: 14px; */
}

html, body {
    color: rgba(0, 0, 0, .8);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track {
    /* Background */
    background: rgba(0, 0, 0, .3);
}

.general-transition-enter-active,
.general-transition-leave-active {
    transition: all .3s ease;
}

.general-transition-enter,
.general-transition-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.general-transition-leave,
.general-transition-enter-to {
    opacity: 1;
    transform: translateX(0px);
}

.normalize-link, a.normalize-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.normalize-links a {
    text-decoration: none;
    color: black;
}

.font-size-1 {
  font-size: 1.1666666667rem;
}

.font-size-2 {
  font-size: 1.3333333333rem;
}

.font-size-3 {
  font-size: 1.5rem;
}

.font-size-4 {
  font-size: 1.6666666667rem;
}

.font-size-5 {
  font-size: 1.8333333333rem;
}

.font-size-6 {
  font-size: 2rem;
}

.font-size-7 {
  font-size: 2.1666666667rem;
}

.font-size-8 {
  font-size: 2.3333333333rem;
}

.font-size-9 {
  font-size: 2.5rem;
}


/* .fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
} */

.text-17 {
    font-size: 17px;
}

.fw-600 {
    font-weight: 600;
}

.p-6 {
    padding: 6rem !important;
}

.p-7 {
    padding: 9rem !important;
}


section.space {
    margin-top: .25rem;
    margin-bottom: 2rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}


.fw-400 {
    font-weight: 400;
}


.fw-500 {
    font-weight: 400;
}

.my-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-rounded {
    border-radius: 10rem;
}


section.ecommerce-section {
    margin-top: 10rem;
    margin-bottom: 2rem;
    min-height:50vh;
}


.btn-floating.btn-lg i {
    width: 2.8125rem;
    line-height: 2.8125rem;
}
