* {
    /* font-family: "Montserrat", "Roboto", sans-serif; */
    /* font-weight: 300; */
    /* font-size: 14px; */
}

html, body {
    color: rgba(0, 0, 0, .8);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track {
    /* Background */
    background: rgba(0, 0, 0, .3);
}

.general-transition-enter-active,
.general-transition-leave-active {
    transition: all .3s ease;
}

.general-transition-enter,
.general-transition-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.general-transition-leave,
.general-transition-enter-to {
    opacity: 1;
    transform: translateX(0px);
}

.normalize-link {
    text-decoration: none;
    color: black;
}

.normalize-links a {
    text-decoration: none;
    color: black;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.text-17 {
    font-size: 17px;
}

.fw-600 {
    font-weight: 600;
}

.p-6 {
    padding: 6rem !important;
}

.p-7 {
    padding: 9rem !important;
}


section.space {
    margin-top: .25rem;
    margin-bottom: 2rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}


.fw-400 {
    font-weight: 400;
}


.fw-500 {
    font-weight: 400;
}

.my-7 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
