* {
  font-family: "Ruda", Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.list-group-item.router-link-exact-active {
  z-index: 2;
  color: var(--mdb-list-group-active-color);
  background-color: var(--mdb-list-group-active-bg);
  border-color: var(--mdb-list-group-active-border-color);
}

.opacity-enter-active,
.opacity-leave-active {
  transition: all .15s ease-in-out;
}

.opacity-enter-to,
.opacity-leave-from {
  opacity: .9;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 1;
}

.opacity-move {
  transition: all .2s ease-in-out;
}

.pop-enter-active,
.pop-leave-active {
  transition: all .15s ease-in-out;
}

.pop-enter-to,
.pop-leave-from {
  opacity: .9;
  transform: scale(0.95);
}

.pop-enter-from,
.pop-leave-to {
  opacity: 1;
  transform: scale(1);
}

.pop-move {
  transition: all .10s ease-in-out;
}

.space-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.space-section-1 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.space-section-2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
