$base_section_margin: 8rem;
$factors: (
  3,
  2,
  1
);

.page-enter-active,
.page-leave-active {
  transition: all 0.095s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* Section */

@each $factor in $factors {
  .section-margin-#{$factor} {
    margin-top: calc($base_section_margin / $factor);
    margin-bottom: calc($base_section_margin / $factor);
  }
}


.no-scroll {
  height: 100%;
  overflow: hidden;
}
