[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
quart = "*"
quart-cors = "*"
httpx = "*"
dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
orjson = "*"
pyjwt = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13"
