{% extends "base_site.html" %}

{% block container %}
    <section style="margin-top: 6rem; padding: 5rem;">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% for collection in collections %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a>
                        </div>
                    </div>
                {% empty %}
                    <h4>No collections</h4>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
