{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Cart" %}{% endblock %}

{% block container %}
<section id="cart" class="ecommerce-section">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="alert alert-info d-flex justify-content-start gap-3 align-items-center">
                    <i class="fas fa-info-circle"></i>
                    <p class="mb-0">Plus que <span class="fw-bold">{{ free_delivery_total }}€</span> pour profiter de la livraison gratuite</p>

                    <!-- <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div> -->
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="fw-bold">Cart</h1>
                        <p class="fs-5 text">{{ cart_items.count }} produit{{ cart_item.count|pluralize }}</p>
                    </div>
                </div>
                {{ cart }}
                <!-- Products -->
                {% for cart_item in cart_items %}
                    <article aria-label="{{ cart_item.product.name }}" class="card my-2">
                        <div class="card-body d-flex justify-content-left p-1">
                            <a href="{{ cart_item.product.get_absolute_url }}" aria-label="Navigate to {{ cart_item.product.name }}">
                                <div class="p-3">
                                    <img src="{{ cart_item.product.get_main_image }}" alt="{{ cart_item.product.name }}" class="img-fluid rounded" width="150">
                                </div>
                            </a>

                            <div class="p-3">
                                <a href="{{ cart_item.product.get_absolute_url }}" class="text-dark" aria-label="Navigate to {{ cart_item.product.name }}">
                                    <p class="fw-bold fs-4 m-0">{{ cart_item.product.name }}</p>
                                    <!-- Prices -->
                                    <!-- <p class="fw-bold mb-2">item.product.get_price * 1 x 1</p> -->
                                    <!-- <base-price-display :product="item.product" display-classes="justify-content-start my-3" /> -->
                                </a>

                                <input type="number" value="{{ cart_item.quantity|default:1 }}" class="form-control p-2 w-50" min="1" max="999">
                                <!--  @click="removeFromCart(item.product)" -->
                                <button type="button" aria-label="Remove from cart" class="btn btn-info my-2">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </article>                    
                {% empty %}
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="text-center display-4">Your cart is empty</h4>
                            <a href="{ name: collection_details_view, params: { collection: } }" type="button" class="btn btn-lg btn-primary mt-3">
                                Continue shopping
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <aside class="col-4">
                <div ref="aside" class="cart-aside">
                    <div class="card">
                        <div class="card-body">
                            <input placeholder="Coupon" type="text" name="coupon" class="form-control p-2 mb-2">

                            <div class="form-check">
                                <!-- v-model="giftOptions.is_gift" -->
                                <input id="gift-wrap" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="gift-wrap">
                                    Please Gift Wrap my order - $6.00
                                </label>
                            </div>

                            <div class="form-check mt-2">
                                <!-- v-model="giftOptions.donation" -->
                                <input id="donation" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="donation">
                                    Faire un don - 0.5€
                                </label>
                            </div>

                            <hr class="my-6">

                            <div class="d-flex justify-content-between fw-bold">
                                <h5 class="text-uppercase fs-6 fw-bold">Subtotal</h5>
                                <h5 class="text-uppercase fs-6 fw-bold">
                                    {{ subtotal }}
                                </h5>
                            </div>

                            <div class="d-flex justify-content-between text-muted mt-2 mb-4">
                                <h5 class="text-uppercase fs-6">Remise</h5>
                                <h5 class="text-uppercase fs-6">25€</h5>
                            </div>

                            <div class="d-flex justify-content-between">
                                <h5 class="text-uppercase fw-bold">Total</h5>
                                <h5 class="fw-bold">{{ total }}</h5>
                            </div>

                            <hr class="my-7">

                            <a href="{% url 'cart:shipment' %}" aria-label="Shipment" class="btn btn-block btn-primary">
                                Checkout
                            </a>

                            <a href="{ name: collection_details_view, params: { collection: } }" class="btn btn-block btn-light">
                                Continue shopping
                            </a>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body">
                            payment
                        </div>
                    </div>
                </div>
            </aside>
        </div>

        <div class="row text-center">
            <p class="my-5 py-6 fs-4">
                Modes de livraison magasin : offerte sans minimum dachat // domicile : offerte dès 70€ dachat // point
                relais : offerte dès 70€ dachat
            </p>
        </div>

        <div class="row">
            <div class="reassurance d-flex justify-content-around text-center">
                <div class="p-5">
                    <!-- <v-icon class="mr-2 mb-3">mdi-arrow-left</v-icon> -->
                    <p class="fs-5">Livraison et retours gratuit</p>
                </div>

                <div class="p-5">
                    <!-- <v-icon class="mr-2 mb-3">mdi-arrow-left</v-icon> -->
                    <p class="fs-5">Livraison et retours gratuit</p>
                </div>

                <div class="p-5">
                    <!-- <v-icon class="mr-2 mb-3">mdi-arrow-left</v-icon> -->
                    <p class="fs-5">Livraison et retours gratuit</p>
                </div>

                <div class="p-5">
                    <!-- <v-icon class="mr-2 mb-3">mdi-arrow-left</v-icon> -->
                    <p class="fs-5">Livraison et retours gratuit</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
