{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Shipment" %}{% endblock %}

{% block container %}
<section id="shipment" class="ecommerce-section">
    <div class="container">
        <shipment-component />
    </div>
</section>
{% endblock %}

{% block vuejs_components %}
<script id="cart-aside" type="text/x-template">
    <div class="col-4">
        <aside ref="aside" class="card">
            <div class="card-body">
                <div v-if="showActions">
                    <div class="form-check">
                        <input id="gift-wrap" v-model="is_gift" class="form-check-input" type="checkbox" @click="$emit('update-total', 'is_gift')">
                        <label class="form-check-label" for="gift-wrap">
                            Please Gift Wrap my order - $6.00
                        </label>
                    </div>

                    <div class="form-check mt-2">
                        <input id="donation" v-model="donation" class="form-check-input" type="checkbox" @click="$emit('update-total', 'donation')">
                        <label class="form-check-label" for="donation">
                            Faire un don - 0.5€
                        </label>
                    </div>

                    <hr class="my-6">
                    </div>

                    <div class="d-flex justify-content-between fw-bold">
                        <h5 class="text-uppercase fs-6 fw-bold">Subtotal</h5>
                        <h5 class="text-uppercase fs-6 fw-bold">{{ subtotal }}</h5>
                    </div>

                    <div class="d-flex justify-content-between text-muted mt-2 mb-4">
                        <h5 class="text-uppercase fs-6">Remise</h5>
                        <h5 class="text-uppercase fs-6">25€</h5>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h5 class="text-uppercase fw-bold">Total</h5>
                        <h5 class="fw-bold">{{ total }}</h5>
                    </div>

                    <div v-if="showActions" class="actions">
                    <hr class="my-7">

                    <a href="{% url 'cart:payment' %}" aria-label="Checkout" class="btn btn-block btn-primary">
                        Checkout
                    </a>

                    <a href="{ name: 'collection_details_view', params: { collection: 'all', lang: $i18n.locale } }" class="btn btn-block btn-light">
                        Continue shopping
                    </a>
                </div>
            </div>
        </aside>

        <aside class="card mt-2">
            <div class="card-body">
                payment
            </div>
        </aside>
    </div>
</script>

<script id="shipment-component" type="text/x-template">
    <div class="row">
        <div class="col-8">
            <!-- Shipment -->
            <div v-if="currentStep >= 2" class="card mb-2">
                <div class="card-body">
                    <p class="fw-bold mb-1">Delivery between', date1: '24/06/22', date2: '27/06/22</p>
                    <p class="fw-bold">Colissimo - Livraison standard</p>

                    <p class="m-0">Lucile Pauline</p>
                    <p class="m-0">1 rue abbe de la rue</p>
                    <p class="m-0">14000 Caen</p>
                    <p class="m-0">France</p>
                    <p class="m-0">lucile@gmail.com</p>

                    <button type="button" class="btn btn-info btn-sm mt-4" @click="changeStep(1)">
                        {% trans "Change" %}
                    </button>
                </div>
            </div>

            <transition name="opacity" mode="out-in">
                <form v-if="currentStep === 1" id="shipment-infos" class="card">
                    <div class="card-body row">
                        <div v-for="field in fields" :key="field.name" :class="`col-${field.col}`">
                            <input v-model="options[field.name]" :type="field.type" :autocomplete="field.autocomplete" :placeholder="field.name" class="form-control p-2 mb-2">
                        </div>

                        <button type="button" class="btn btn-lg btn-primary mt-2" @click="changeStep(2)">
                            Validate
                        </button>
                    </div>
                </form>

                <!-- Delivery -->
                <div v-else-if="currentStep === 2" id="delivery-method" class="card mt-2">
                    <div class="card-body">
                        <p class="fw-bold fs-5">
                            Choose your delivery method
                        </p>

                        <a v-for="(delivery, i) in deliveryMethods" :key="i" href :class="{ 'border': delivery === options.delivery_mode }" class="card shadow-sm text-dark my-2" @click.prevent="options.delivery_mode = delivery">
                            <div class="card-body">
                                <p class="fw-bold d-flex justify-content-between">
                                    <span>{{ delivery }}</span>
                                    <span>4.90€</span>
                                </p>
                                <p>Delivery between' date1: '24/06/22', date2: '27/06/22</p>
                            </div>
                        </a>

                        <button type="button" class="btn btn-lg btn-primary text-right mt-2" @click="changeStep(3)">
                            Passer commande
                        </button>
                    </div>
                </div>

                <!-- Payment -->
                <div v-else-if="currentStep === 3" class="card mt-2">
                    <div class="card-body">
                        <p class="fw-bold fs-5">
                            Choose a payment method
                        </p>

                        <p class="text-muted">
                            Votre paiement est sécurisé
                        </p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="delivery-mode" checked>
                            <label class="form-check-label" for="delivery-mode">
                                Carte de crédit
                            </label>
                        </div>

                        <hr class="my-4">

                        <!-- <stripe-element-card /> -->

                        <button type="button" class="btn btn-lg btn-block btn-primary my-3" @click="requestPayment">
                            <div v-if="processingPayment" class="spinner-border spinner-border-sm me-2" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            Pay - $123
                        </button>

                        <p>
                            En validant ma commande, je déclare avoir pris connaissance et accepté
                            sans réserve les <a href="{% url 'cart:list' %}">Conditions générales de vente.</a>
                        </p>

                        <p>
                            Je reconnais avoir lu et accepté la <a href="{% url 'cart:list' %}">Charte de confidentialité</a>.
                        </p>

                    </div>
                </div>
            </transition>
        </div>

        <!-- Aside -->
        <cart-aside :grand-total="20" :show-actions="false" />
    </div>
</script>

<script>
    const CartAside = {
        name: 'CartAside',
        template: '#cart-aside',
        data () {
            return {
                showActions: false
            }
        }
    }

    const ShipmentComponent = {
        name: 'ShipmentCompoent',
        template: '#shipment-component',
        components: { CartAside },
        setup () {
            const options = ref({
                delivery_mode: null
            })
            return {
                options
            }
        },
        data () {
            return {
                processingPayment: false,
                deliveryMethods: [
                    'Colissimo - Standard',
                    'Colissimo - Standard2'
                ],
                currentStep: 1
            }
        },
        beforeMount () {
            const fields = JSON.parse('{{ form_fields|safe }}')
            fields.forEach((field) => {
                this.options[field.name] = field.value
            })
            this.fields = fields
        },
        methods: {
            async requestPayment () {
                try {
                    this.processingPayment = true
                    setTimeout(() => {
                        this.processingPayment = false
                        window.location.replace("{% url 'cart:success' %}")
                    }, 1000);
                } catch (e) {
                    console.log(e)
                }
            },
            changeStep (step) {
                this.currentStep = step
            },
            completePayment () {
                // pass
            }
        }
    }
    app.component('ShipmentComponent', ShipmentComponent)
</script>
{% endblock %}
