{% extends "base.html" %}
{% load static %}

{% block theme_color %}#484848{% endblock %}

{% comment %}
{% block analytics %}
    <!-- Clarity -->
    {% clarity tag="40lq6t5uns" %}
    <!-- Google Tag Manager -->
    {# {% google_tag_manager "GTM-XXX" %} #}
    <!-- Google Analytics -->
    {# {% google_analytics "UA-XXX" "UA-XXX" %} #}
    <!-- Facebook -->
    {# {% facebook "343545345322423" %} #}

    <!-- NEW GOOGLE ANALYTICS -->
    {% google_analytics_4 "G-0D9SQRKB71" %}
{% endblock %}    
{% endcomment %}

{% block extra_analytics %}
    <!-- Google Optimize -->
    {# {% google_optimize_anti_flicker "GTM-XXX" %} #}
    <!-- Google Analytics -->
    {# {% google_no_script "GTM-XXX" %} #}
    <!-- Facebook Pixels -->
    {% block facebook_event %}{% endblock %}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        {% block container %}{% endblock %}
    </div>
{% endblock %}
