{% load static vite %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Vue Three</title>
        <!--
            <script type="module" src="http://localhost:3000/@vite/client"></script>
            <link rel="stylesheet" href="{% static 'main.b4d9b703.css' %}">
            <script type="module" src="{% static 'main.6c401e61.js' %}"></script> 
        -->
        {% vite_files %}
    </head>
    
    <body>
        {% vite_app %}
    </body>
</html>
