{% extends "base_site.html" %}
{% load i18n cache socialaccount %}

{% block title %}{% trans "Créer un compte" %}{% endblock %}

{% block style %}
<style>
    body {
        background-color: rgb(251, 251, 251);
    }
</style>
{% endblock %}

{% block container %}
    <div class="row d-flex justify-content-center my-5">
        <div class="col-4">
            <div class="card">
                <div class="card-body pb-1">
                    <a href="{% provider_login_url 'google' process='login' %}" class="btn btn-block btn-light btn-rounded btn-lg shadow-none">
                        Google
                    </a>
                </div>

                <hr class="bg-light">
                
                <form action="{% url 'accounts:signup' %}" method="post" enctype="multipart/form-data" class="card-body">
                    {% csrf_token %}
                    
                    {% for key, error in form.errors.items %}
                        {{ error }}
                    {% endfor %}

                    {% for field in form %}
                        {{ field }}
                    {% endfor %}

                    <button type="submit" class="btn btn-block btn-primary btn-rounded btn-lg shadow-none mt-4">
                        {% trans "Créer mon compte" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
