{% extends "base.html" %}
{% load i18n static %}

{% block theme_color %}#484848{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
{% endblock %}

{% block header %}
    <header class="fixed-top">
        {% include "includes/top_navbar.html" %}
        {% include "includes/navbar.html" %}
    </header>
{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
