/* font-family: "Oswald", "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif; */
/* :root {
  font-family: Roboto, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  font-family: "Ruda", Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  /* font-synthesis: none; */
  text-rendering: optimizeSpeed;
  color-scheme: light;
}

.list-group-item.router-link-exact-active {
  z-index: 2;
  color: var(--mdb-list-group-active-color);
  background-color: var(--mdb-list-group-active-bg);
  border-color: var(--mdb-list-group-active-border-color);
}
