DEBUG=

SECRET_KEY=''

# Redis Configuration

REDIS_HOST='localhost'

REDIS_PASSWORD=''

# RabbitMQ Configuration

RABBITMQ_USER='guest'

RABBITMQ_PASSWORD='guest'

# JWT Secret Key

PY_UTILITIES_JWT_ISSUER='mycart'

PY_UTILITIES_JWT_SECRET='supersecretkey'

# Database configuration

DB_NAME='mycart'

DB_USER=''

DB_PASSWORD=''

# Stripe Configuration

STRIPE_PRODUCTION_API_KEY=''

STRIPE_TEST_SECRET_KEY=''
