# Django settings

DEBUG=

SECRET_KEY=

# Redis settings

REDIS_HOST=''

REDIS_PASSWORD=''

# RabbitMQ settings

RABBITMQ_USER=''

RABBITMQ_PASSWORD=''

# Stripe

STRIPE_TEST_SECRET_KEY=''

STRIPE_PRODUCTION_SECRET_KEY=''

PY_UTILITIES_JWT_SECRET=''

# PostgreSQL settings

DB_NAME='mystore'

DB_USER=''

DB_PASSWORD=''

DB_HOST=''
