[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
boto3 = "*"
celery = "*"
coverage = "*"
daphne = "*"
django = "*"
django-axes = "*"
django-celery-beat = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-imagekit = "*"
django-import-export = "*"
django-redis = "*"
django-storages = "*"
django-ckeditor-5 = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
factory-boy = "*"
firebase-admin = "*"
flower = "*"
graphene-django = "*"
gunicorn = "*"
httpx = "*"
markdown = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pillow = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
pyjwt = "*"
python-dotenv = "*"
python-levenshtein = "*"
rapidfuzz = "*"
requests = "*"
stripe = "*"
tablib = "*"
thefuzz = "*"
unidecode = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.13"
