[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
boto3 = "*"
celery = "*"
channels = {extras = ["daphne"], version = "*"}
coverage = "*"
django = "*"
django-celery-beat = "*"
django-ckeditor-5 = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-import-export = "*"
django-redis = "*"
django-storages = "*"
django-mcp-server = "*"
django-oauth-toolkit = "*"
django-oauth-toolkit-dcr = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
daphne = "*"
drf-spectacular = "*"
factory-boy = "*"
firebase-admin = "*"
flower = "*"
graphene-django = "*"
gunicorn = "*"
httpx = "*"
markdown = "*"
numpy = "*"
pandas = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
pytest-django = "*"
pyjwt = "*"
python-dotenv = "*"
stripe = "*"
unidecode = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.13"
